In [12]:
import pandas as pd
import numpy as np

In [2]:
test_df = pd.read_csv("test_table.csv")
user_df = pd.read_csv("user_table.csv")

In [3]:
test_df.head()

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0
1,497851,2015-12-04,Ads,Web,ES,Google,IE,0,1
2,848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0
3,290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1
4,548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1

In [7]:
test_df.describe()

              user_id     conversion           test
count   453321.000000  453321.000000  453321.000000
mean    499937.514728       0.049579       0.476446
std     288665.193436       0.217073       0.499445
min          1.000000       0.000000       0.000000
25%     249816.000000       0.000000       0.000000
50%     500019.000000       0.000000       0.000000
75%     749522.000000       0.000000       1.000000
max    1000000.000000       1.000000       1.000000

In [4]:
user_df.head()

   user_id sex  age    country
0   765821   M   20     Mexico
1   343561   F   27  Nicaragua
2   118744   M   23   Colombia
3   987753   F   27  Venezuela
4   554597   F   20      Spain

In [8]:
user_df.describe()

              user_id            age
count   452867.000000  452867.000000
mean    499944.805166      27.130740
std     288676.264784       6.776678
min          1.000000      18.000000
25%     249819.000000      22.000000
50%     500019.000000      26.000000
75%     749543.000000      31.000000
max    1000000.000000      70.000000

In [6]:
print("Unique users in users: {}".format(len(user_df.user_id.unique())))
print("Unique users in test: {}".format(len(test_df.user_id.unique())))

Unique users in users: 452867
Unique users in test: 453321

In [9]:
df = pd.merge(test_df, user_df, how="left")

In [18]:
for column in df.columns:
    print("Column: " + column)
    print(df[column].describe())
    print()

Column: user_id
count     453321.000000
mean      499937.514728
std       288665.193436
min            1.000000
25%       249816.000000
50%       500019.000000
75%       749522.000000
max      1000000.000000
Name: user_id, dtype: float64

Column: date
count         453321
unique             5
top       2015-12-04
freq          141163
Name: date, dtype: object

Column: source
count     453321
unique         3
top          Ads
freq      181877
Name: source, dtype: object

Column: device
count     453321
unique         2
top          Web
freq      251565
Name: device, dtype: object

Column: browser_language
count     453321
unique         3
top           ES
freq      377547
Name: browser_language, dtype: object

Column: ads_channel
count       181877
unique           5
top       Facebook
freq         68425
Name: ads_channel, dtype: object

Column: browser
count          453321
unique              7
top       Android_App
freq           155135
Name: browser, dtype: object

Column: conversion
count    453321.000000
mean          0.049579
std           0.217073
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: conversion, dtype: float64

Column: test
count    453321.000000
mean          0.476446
std           0.499445
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: test, dtype: float64

Column: sex
count     452867
unique         2
top            M
freq      264485
Name: sex, dtype: object

Column: age
count    452867.000000
mean         27.130740
std           6.776678
min          18.000000
25%                NaN
50%                NaN
75%                NaN
max          70.000000
Name: age, dtype: float64

Column: country
count     452867
unique        17
top       Mexico
freq      128484
Name: country, dtype: object

/home/sayan/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [69]:
df_sum = df.groupby(["country","test"], as_index=False)["conversion"].sum().rename(columns={'conversion':'total_converts'})
df_count = df.groupby(["country","test"], as_index=False)["conversion"].count().rename(columns={'conversion':'total_tested'})
agg_df = pd.merge(df_sum, df_count)
agg_df["conversion_rate"] = agg_df["total_converts"]*100/agg_df["total_tested"]
# df.groupby(["country","test"], as_index=False)["conversion"].count()
agg_df.head()

     country  test  total_converts  total_tested  conversion_rate
0  Argentina     0             141          9356         1.507054
1  Argentina     1             513         37377         1.372502
2    Bolivia     0             274          5550         4.936937
3    Bolivia     1             267          5574         4.790097
4      Chile     0             474          9853         4.810718

In [70]:
agg_df = pd.merge(agg_df, agg_df.groupby("country", as_index=False)["total_tested"].sum().rename(columns={'total_tested':'total_users'}))
agg_df["test_rate"] = agg_df["total_tested"]*100/agg_df["total_users"]
agg_df.sort_values(by="conversion_rate")

,country,test,total_converts,total_tested,conversion_rate,total_users,test_rate
29,Uruguay,0,5,415,1.204819,4134,10.038703
30,Uruguay,1,48,3719,1.290670,4134,89.961297
1,Argentina,1,513,37377,1.372502,46733,79.979886
0,Argentina,0,141,9356,1.507054,46733,20.020114
22,Panama,0,92,1966,4.679552,3951,49.759555
17,Honduras,1,200,4207,4.753981,8568,49.101307
3,Bolivia,1,267,5574,4.790097,11124,50.107875
13,El Salvador,1,195,4067,4.794689,8175,49.749235
4,Chile,0,474,9853,4.810718,19737,49.921467
24,Paraguay,0,177,3650,4.849315,7347,49.680142
15,Guatemala,1,365,7503,4.864721,15125,49.606612
32,Venezuela,1,779,15905,4.897831,32054,49.619392
11,Ecuador,1,385,7859,4.898842,15895,49.443221
10,Ecuador,0,395,8036,4.915381,15895,50.556779
25,Paraguay,1,182,3697,4.922910,7347,50.319858
2,Bolivia,0,274,5550,4.936937,11124,49.892125
23,Panama,1,98,1985,4.937028,3951,50.240445
18,Mexico,0,3178,64209,4.949462,128484,49.974316
26,Peru,0,842,16869,4.991404,33666,50.106933
31,Venezuela,0,813,16149,5.034367,32054,50.380608
7,Colombia,1,1364,26972,5.057096,54060,49.892712
27,Peru,1,850,16797,5.060427,33666,49.893067
14,Guatemala,0,386,7622,5.064288,15125,50.393388
16,Honduras,0,222,4361,5.090576,8568,50.898693
19,Mexico,1,3290,64275,5.118631,128484,50.025684
5,Chile,1,507,9884,5.129502,19737,50.078533
6,Colombia,0,1411,27088,5.208949,54060,50.107288
8,Costa Rica,0,139,2660,5.225564,5309,50.103598
20,Nicaragua,0,180,3419,5.264697,6723,50.855273
12,El Salvador,0,220,4108,5.355404,8175,50.250765
21,Nicaragua,1,179,3304,5.417676,6723,49.144727
9,Costa Rica,1,145,2649,5.473764,5309,49.896402
28,Spain,0,4128,51782,7.971882,51782,100.000000